<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        <h3>Create Account</h3>
        <p>Glad to see you here!</p>
      </ng-template>
      <mat-form-field>
        <input matInput type="email" placeholder="Account" formControlName="accountCtrl" required>
        <mat-error *ngIf="firstFormGroup.get('accountCtrl').hasError('required')">Required</mat-error>
        <mat-error *ngIf="firstFormGroup.get('accountCtrl').hasError('email')">INVALID EMAIL</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input matInput type="password" placeholder="Password" minlength="8" formControlName="passwordCtrl" required>
          <mat-error *ngIf="firstFormGroup.get('passwordCtrl').hasError('minlength')">MINIMUM 8 CHARACTERS</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input matInput type="password" placeholder="Comfirm Password" minlength="8" formControlName="confirmPasswordCtrl" required>
          <mat-error *ngIf="firstFormGroup.get('confirmPasswordCtrl').hasError('minlength')">MINIMUM 8 CHARACTERS</mat-error>
          <mat-error *ngIf="firstFormGroup.get('passwordCtrl').value !== firstFormGroup.get('confirmPasswordCtrl').value">NOT MATCH</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext>SUBMIT & NEXT</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>
          <h3>General Infomation</h3>
          <p>Tell us who you are!</p>
      </ng-template>
      <mat-form-field>
        <input matInput placeholder="Name (optional)" formControlName="nameCtrl">
      </mat-form-field>
      <mat-form-field>
          <input matInput required placeholder="Phone" formControlName="phoneCtrl">
          <mat-error *ngIf="secondFormGroup.get('phoneCtrl').hasError('required')">Required</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext>SUBMIT & NEXT</button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>
            <h3>Update Profile Picture</h3>
            <p>We wanna know you more!</p>
        </ng-template>
        <mat-form-field>
            <input matInput required placeholder="File" formControlName="fileCtrl">
            <mat-error *ngIf="thirdFormGroup.get('fileCtrl').hasError('required')">Required</mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>SUBMIT & NEXT</button>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="fourFormGroup">
      <form [formGroup]="fourFormGroup">
        <ng-template matStepLabel>
            <h3>Payment Method</h3>
            <p>Add your credit card infomation! </p>
        </ng-template>
        <mat-form-field>
            <input matInput required placeholder="Card Name" formControlName="cardnameCtrl">
            <mat-error *ngIf="fourFormGroup.get('cardnameCtrl').hasError('required')">Required</mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>DONE</button>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
        <h3>Congratulations</h3>
        <p>Now you’re one of us! </p>
    </ng-template>
    <mat-icon style="font-size: 14em;left: 40%;position: relative;">sentiment_very_satisfied</mat-icon>
    <p style="text-align: center;">Redirected to homepage after 5 seconds…</p>
  </mat-step>
</mat-horizontal-stepper>
